<div class="container mt-5">
    <div class="row d-flex justify-content-center p-4">
        <div class="col-md-5 card p-4">
            <h2 class="fMedium mb-4 text-center">
                <span>Olvide mi contraseña</span>
            </h2>
            <form (ngSubmit)="recover(sendForm)" #sendForm="ngForm">
                <div class="mb-3">
                    <label for="emailInput" class="form-label fMedium">Correo</label>
                    <input type="email" class="form-control" id="emailInput" name="email" placeholder="name@example.com" ngModel>
                </div>
                <button type="submit" class="btn btn-success fMedium w-100">Recuperar</button>
            </form>
        </div>
    </div>
</div>