.deck {
    background-color: white !important;
    border-color: white !important;
    border: 0px !important;
    border-radius: 10px !important;
    margin: 1px !important;
    margin-top: 20px !important;
}

.btn {
    border-radius: 5px !important;
}

.image {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration-line: none !important;
}

.title {
    color: #1d1d1f !important;
}

.description {
    color: #1d1d1f !important;
}

.deck .nav-link {
    color: #212121;
}

.remove {
    color: red !important;
    font-weight: bold;
}