.card {
    border: 0px !important;
    border-radius: 10px !important;
    height: 200px !important;
}

.card-title {
    color: #424242 !important;
}

.card img {
    border-radius: 10px 10px 0px 0px !important;
}

.btn {
    border-radius: 5px !important;
}

.text-end {
    padding-right: 15px;
}
