.image {
    width: 100% !important;
    height: 200px !important;
    border-radius: 10px !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-secondary {
    border-radius: 10px !important;
    background: linear-gradient(rgb(104, 246, 218), rgb(94, 60, 187)) !important;
    margin-left: 0px;
    margin-right: 0px;
}

.btn {
    border-radius: 5px !important;
}

.btn-success {
    background-color: #00C853 !important;
    border-color: #00C853 !important;
}

@media (max-width: 768px) {
    .btn-success {
        width: 100% !important;
    }
}
