<div class="container mt-4">

    <h4 class="display-6 mt-3">
        <span class="fMedium">Busqueda: </span>
        {{ search }}
    </h4>

    <div class="col-md-12">
        <div class="row" *ngIf="decks.length > 0">
            <div class="col-md-4 m-2" *ngFor="let deck of decks">
                <app-deck [deck]="deck" [redirect]="'deck'"></app-deck>
            </div>
        </div>
        <div class="row" *ngIf="decks.length === 0">
            <h3>No se encontraron barajas</h3>
        </div>
    </div>
</div>