<div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content custom-modal">
            <div class="modal-body">
                <h2 class="fBold mb-4 text-center">
                    <span>Iniciar Sesión</span>
                    <img src="assets/images/dinosaurs/022-beauty-1.png" alt="Signup"
                        class="dinosaur img-fluid">
                </h2>
                <form (ngSubmit)="signIn(sendForm)" #sendForm="ngForm">
                    <div class="mb-3">
                        <label for="emailInput" class="form-label fMedium">Correo</label>
                        <input type="email" class="form-control" id="emailInput" name="email"
                            placeholder="name@example.com" ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label fMedium">Contraseña</label>
                        <input type="password" class="form-control" id="passwordInput" name="password"
                            placeholder="*****" required ngModel>
                    </div>
                    <button type="submit" class="btn btn-success fMedium w-100">Ingresar</button>
                    <!-- <div class="row mt-3">
                        <div class="col-md-6">
                            <button class="btn btn-primary w-100 mb-3 fMedium" (click)="signInWithFB()">
                                <i class="fab fa-facebook-f"></i>
                                Facebook
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-danger w-100 fMedium" (click)="signInWithGoogle()">
                                <i class="fab fa-google"></i>
                                Google
                            </button>
                        </div>
                    </div> -->
                    <hr>
                    <div class="text-center">
                        <a class="signup fBold" data-bs-toggle="modal" data-bs-target="#signUnModal" data-bs-dismiss="modal">Quiero crear una cuenta</a>
                    </div>
                    <button id="closeSigninModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="display: none;">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>