.bg-fav-comunity {
    background: linear-gradient(rgb(62, 148, 145), rgb(104,246,218)) !important;
    border-radius: 15px !important;
    margin-left: 0px;
    margin-right: 0px;
}

.bg-orig-flipme {
    background: linear-gradient(rgb(104,246,218), rgb(94,60,187)) !important;
    border-radius: 15px !important;
    margin-left: 0px;
    margin-right: 0px;
}

.bg-recientes {
    background: linear-gradient(rgb(94,60,187), rgb(249,109,74)) !important;
    border-radius: 15px !important;
    margin-left: 0px;
    margin-right: 0px;
}

.search {
    border-radius: 10px 0px 0px 10px !important;
    border: 0px solid #BDBDBD !important;
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn-search {
    border-radius: 0px 10px 10px 0px !important;
    background-color: #00C853 !important;
    border: 0px solid transparent !important;
    padding-bottom: 12px;
    padding-top: 12px;
}

.icon-cat {
    width: 60px;
}