.bg-fav-comunity {
    background: linear-gradient(rgb(62, 148, 145), rgb(104,246,218)) !important;
    border-radius: 15px !important;
    margin-left: 0px;
    margin-right: 0px;
}

.bg-orig-flipme {
    background: linear-gradient(rgb(104,246,218), rgb(94,60,187)) !important;
    border-radius: 15px !important;
    margin-left: 0px;
    margin-right: 0px;
}

.bg-recientes {
    background: linear-gradient(rgb(94,60,187), rgb(249,109,74)) !important;
    border-radius: 15px !important;
    margin-left: 0px;
    margin-right: 0px;
}

.display-5 {
    color: white !important;
}