.image {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-secondary {
    border-radius: 10px !important;
    background: linear-gradient(rgb(104,246,218), rgb(94,60,187)) !important;
    color: #212121 !important;
    margin-left: 0px;
    margin-right: 0px;
}

.display-5 {
    color: #212121 !important;
}