/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap");

html {
    height: 100% !important;
}

body {
    background-color: #f5f5f7 !important;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100% !important;
}

app-footer {
    margin-top: auto !important;
}

.fExtraLight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.fLight {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.fMedium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.fBold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.fBlack {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

/* MAIN COLORS */

.bg-principal {
    background-color: #3e9491 !important;
}

.bg-secondary {
    background-color: #61cac5 !important;
}

.bg-alternative {
    background-color: #fd9561 !important;
}

.bg-alt-secondary {
    background-color: #d7b10a !important;
}

.fn-principal {
    color: #0e455b !important;
}

.fn-secondary {
    color: #61cac5 !important;
}

.fn-alternative {
    color: #fd9561 !important;
}

.fn-alt-secondary {
    color: #d7b10a !important;
}

.title {
    color: #00C853 !important;
}

/* BUTTONS STYLES */

.btn {
    border: 0px solid !important;
}

.btn-success {
    background-color: #00C853 !important;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-success-add {
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-outline-success {
    border: 2px solid #00C853 !important;
    color: #00C853 !important;
}

.btn-outline-success:hover {
    border-color: #00C853 !important;
    background-color: #00C853 !important;
    color: white !important;
}

.btn-danger {
    background-color: #b6270d !important;
    border-color: #b6270d !important;
}

.btn-primary {
    background-color: #419ad9 !important;
    border-color: #419ad9 !important;
}

/* FORM STYLES */

.form-control, .form-select {
    border: 2px solid #BDBDBD !important;
    padding: 8px;
    border-radius: 5px !important;
}

/* TITLE STYLES */

h2 {
    color: #212121 !important;
}

/* CARD */

.card {
    border: 0px !important;
    border-radius: 10px !important;
}

.dinosaur {
    margin-left: 15px !important;
    width: 20% !important;
}