<div class="container mt-5">
    <div class="row d-flex justify-content-center p-4">
        <div class="col-md-4 card p-4">
            <h2 class="fBold mb-4 text-center">
                <span>Actualizar Contraseña</span>
            </h2>
            <form (ngSubmit)="updatePassword(sendForm)" #sendForm="ngForm">
                <div class="mb-3">
                    <label for="newInput" class="form-label fMedium">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="newInput" name="new" placeholder="****" ngModel>
                </div>
                <div class="mb-3">
                    <label for="repeatInput" class="form-label fMedium">Repetir Contraseña</label>
                    <input type="password" class="form-control" id="repeatInput" name="repeat" placeholder="****" ngModel>
                </div>
                <button type="submit" class="btn btn-success fMedium w-100">Actualizar</button>
            </form>
        </div>
    </div>
</div>